# New Tutorial on Webscraping

- This is a simple web scraping project
- In this project I will be scraping data from a Wikipedia table
- The data will be exported to a csv file where possible

In [ ]:
# importing libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [ ]:
# webpage I will be scraping data from
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue#List_of_the_largest_public_/_publicly_traded_companies'

In [30]:
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [ ]:
# using find_all to get all the tables in list form, then using indexing to access the table I want
table = soup.find_all('table')[0]

#### Creating the Columns

In [ ]:
# TH is the element for table head
all_titles = table.find_all('th')

In [ ]:
# using list comprehension
titles = [title.text.strip() for title in all_titles]

In [143]:
# creating the dataframe, with column assignment
df = pd.DataFrame(columns = titles)

#### Creating the Rows

In [144]:
column_data = table.find_all('tr')

In [145]:
# using list comprehension 
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row = [data.text.strip() for data in row_data]
    
    length = len(df)
    df.loc[length] = individual_row

In [ ]:
# sample of final dataframe
df.sample(5)

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
48,49,Lowe's,Retail,"86,377",-11.0%,"226,000","Mooresville, North Carolina"
10,11,Costco,Retail,"242,290",6.8%,"316,000","Issaquah, Washington"
76,77,AbbVie,Pharmaceutical industry,"54,317",-6.4%,"50,000","Lake Bluff, Illinois"
32,33,Comcast,Telecommunications,"121,572",0.1%,"186,000","Philadelphia, Pennsylvania"
51,52,Boeing,Aerospace and defense,"77,794",16.8%,"171,000","Arlington County, Virginia"

In [158]:
# df.style.set_caption("List of the Largest Public/Publicly Traded Companies in the US")

### New Table

- scraping the next table in the webpage

In [148]:
table1 = soup.find_all('table')[1]

In [149]:
table1Headers = table1.find_all('th')

In [150]:
table1Titles = [title.text.strip() for title in table1Headers]

In [152]:
df1 = pd.DataFrame(columns=table1Titles)

In [153]:
table1Columndata  = table1.findAll('tr')

In [154]:
for row1 in table1Columndata[1:]:
    rowData = row1.findAll('td')

    individual_row = [data.text.strip() for data in rowData]
    length = len(df1)
    df1.loc[length]=individual_row

In [ ]:
df1.sample(5)
# df1.style.set_caption('List of Largest Private Companies')

,Rank,Name,Industry,Revenue (USD billions),Employees,Headquarters
8,9,Love's,Petroleum industry and Retail,26.5,"40,000","Oklahoma City, Oklahoma"
4,5,H-E-B,Retail,43.6,"145,000","San Antonio, Texas"
9,10,Southern Glazer's Wine and Spirits,Food industry,26.0,"24,000","Miramar, Florida"
6,7,Enterprise Holdings,Car rental,35,"90,000","Clayton, Missouri"
1,2,Koch Industries,Conglomerate,125,"120,000","Wichita, Kansas"